export("%o_within%")
export("%o_within_o%")
export("%owo%")
export("%within%")
export("%within_o%")
export(as.percent)
export(col.as.row.names)
export(contains.integer)
export(d)
export(dir.exists)
export(expand.mgrid)
export(factor2numeric)
export(findInterval_right.closed)
export(get_intervals)
export(glue)
export(insert)
export(insert.row)
export(is.categorical)
export(match.in)
export(n.union)
export(rearrange)
export(rearrange2)
export(repmat)
export(repmat.i)
export(repmat.j)
export(row.names.as.col)
export(rows.as.list)
export(scale01)
export(see)
export(set.row.names)
export(unlist.column)
import(plyr)
import(recurs)
S3method(rearrange,data.frame)
S3method(rearrange,default)
S3method(rearrange,list)
S3method(rearrange,numeric)
